:root {
  --brown: #533738;
  --white: #ffffff;
  --dark-pink: #cc8b86;
  --main-color: #efe6e4;
  --purple-gray: #8d7370;
  --brown-transparent: rgba(100, 72, 69, 0.8);
  --light-pink: #e2c4ba;
  --pearl: #f6ede9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;

}

a:hover,
a:focus {
  filter: drop-shadow(3px 3px 2px var(--purple-gray));
}

a:active {
  filter: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
}

.page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--brown);

  background-color: var(--main-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container--small {
  max-width: 1036px;
}

.section-title {
  margin: 0 0 40px;

  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 25px 66px 24px 68px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: inherit;

  background-color: var(--dark-pink);
  border: none;


  cursor: pointer;
}

.to-top {
  position: fixed;
  right: 15px;
  bottom: -60px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: var(--dark-pink);

  cursor: pointer;
}

.to-top--active {
  bottom: 15px;
}


.header {
  min-height: 715px;
  padding-top: 36px;

  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  column-gap: 35px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__text {
  text-transform: uppercase;
}

.main-nav {
  margin-left: auto;
}

.main-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  position: relative;
}

.main-nav__link::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 0;
  height: 1px;

  background-color: var(--brown);

}

.main-nav__link:hover::after,
.main-nav__link:focus::after {
  width: 100%;
}

.main-nav__link:active::after {
  width: 0;
}


.promo {
  padding: 90px 0 168px;
}

.promo__content {
  max-width: 534px;
}

.section-title--promo {
  margin: 0 0 24px;

  font-size: 50px;
  line-height: 62px;
  text-align: left;
}

.promo__text {
  margin: 0 0 21px;
}

/* About */

.about {
  padding-top: 65px;
}

.about__content {
  margin-bottom: 21px;
  min-height: 465px;

  background-image: url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}

.about__description {
  max-width: 528px;
  margin-left: auto;
}

.about__text:not(:last-of-type) {
  margin: 0 0 30px;
}

.about__text:last-of-type {
  margin: 0;
}

.about__statistics {
  padding: 85px 0 81px;

  background-color: var(--purple-gray);
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin: 0;
  padding: 0;

  color: var(--white);

  list-style: none;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  text-align: center;
}

.about__stat-number {
  font-size: 50px;
  line-height: 62px;
}

.about__stat-text {
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  text-transform: uppercase;
}

/* Portfolio */

.portfolio {
  padding: 65px 0;
}

.section-title--portfolio {
  text-align: left;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  margin: 0 0 40px;
  padding: 0;

  list-style: none;
}

.portfolio__item {
  position: relative;

  display: flex;

  overflow: hidden;

  cursor: pointer;
}

.portfolio__item::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: var(--brown-transparent);
  opacity: 0;

}


.portfolio__description {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 100%;
  padding: 0 35px 0;

  color: var(--white);

  opacity: 0;
}

.portfolio__subtitle {
  max-width: 270px;
  margin: 0 auto 18px;

  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  text-align: center;
}

.portfolio__text {
  margin: 0;
}

.button--portfolio {
  position: relative;

  display: block;
  padding: 0 70px 0 0;
  margin: 0 auto;

  font-size: 30px;
  line-height: 37px;

  background-color: transparent;

}

.button--portfolio::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;

  width: 60px;
  height: 16px;

  background-image: url(../img/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.button--portfolio:hover,
.button--portfolio:focus {
  filter: drop-shadow(3px 3px 2px var(--purple-gray));
}


.button--portfolio:active {
  filter: none;
}



.team {
  padding-top: 50px;

  background-color: var(--light-pink);
}

.team__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 38px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.team__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.team__text {
  margin: 0;
}


.our-work {
  padding: 35px 0 80px;

  background-color: var(--light-pink);
}

.our-work__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;

  counter-reset: counter;
}

.our-work__item {
  position: relative;

  padding-top: 90px;
}

.our-work__item::before {
  content: counter(counter);

  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: var(--white);

  background-color: var(--purple-gray);
  border-radius: 50%;

  counter-increment: counter;
}

.our-work__text {
  margin: 0;
}

/* Reviews */

.reviews {
  padding: 65px 0;
}

.reviews__slider {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  column-gap: 29px;
}

.button--slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 72px;
  height: 72px;

  border-radius: 50%;
}

.reviews__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 20px;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text:not(:last-of-type) {
  margin: 0 0 30px;
}

.reviews__text:last-of-type {
  margin: 0 0 19px;
}

.reviews__author {
  text-transform: uppercase;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  display: flex;
}


.feedback {
  background-color: var(--purple-gray);
}

.feedback__content {
  display: grid;
  grid-template-columns: minmax(200px, 508px) minmax(200px, 590px);
  justify-content: end;
  column-gap: 20px;
}

.section-title--feedback {
  margin: 0 0 24px;

  text-align: left;
  color: var(--white);
}

.feedback__form {
  padding: 50px 0 186px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__text {
  margin: 0 0 44px;

  color: var(--white);

  opacity: 0.6;
}

.form__input {
  margin: 0 0 35px;
  padding: 0 10px 4px 0;

  font-size: 18px;
  line-height: 30px;
  color: var(--pearl);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: var(--pearl);
}

.form__input--tel {
  margin: 0 0 31px;
}

.button--form {
  max-width: 309px;
}

.button--form:hover,
.button--form:active {
  filter: drop-shadow(3px 3px 2px var(--light-pink));
}

.button--form:active {
  filter: none;
}

.map {
  position: relative;

  display: flex;
}

.map__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  height: auto;
}

.map__schema {
  z-index: 1;

  height: auto;

  border: none;
}


.footer {
  padding: 37px 0;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 42px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__address {
  font-style: normal;
}

.footer__item:last-of-type {
  margin-left: auto;
}
